@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

html {
    box-sizing: border-box;
}

label {
    display: flex;
}

.logo {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 35px;
    align-items: center;
    padding: 20px;
}

nav {
    display: flex;
    background-color: white ;
    height: 80px;
    gap: 2rem;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav ul li:hover{
    border-bottom: 3px solid black;
    transition: all .3s ease;
}

input[type="checkbox"]{
    display: flex;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: black;
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background-color: white;
}

input[type="checkbox"]::before{
    content:'';
    display: flex;
    align-self: center;
    margin-left: 2px;
    width: 16px;
    height: 16px;
    background-color: blue;
    border-radius: 50px;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.container {
    padding: 3rem 10rem;   
}

.Home{
    width: 100%;
    height: 100%;
    background: url("../assets/bacl.jpg");
    filter: brightness(80%);
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.main-container {
    display: flex;
}

.header {
    text-align: center;
    top: 40%;
    left: 60%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    
}

.header h1{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    color: white;
    font-size: 50px;
}

.header span {
    color: white;
}

.header-content {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 55%;
    left: 60%;
}

.header-content p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 16px;
    text-align: center;
}

.btn {
    width: 443px;
    height: 42px;
    margin-top: 14px;
    list-style: none;
    border-radius: 10px;
    border: none;
    background: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadows, transform;
    transition-property: box-shadows, transform;
}

.dark .btn {
    width: 443px;
    height: 42px;
    margin-top: 14px;
    list-style: none;
    border-radius: 10px;
    border: none;
    background: black;
    cursor: pointer;
    text-transform: uppercase;
    border: solid 1px white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadows, transform;
    transition-property: box-shadows, transform;
}

.btn:hover, btn:focus, .btn:active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.btn a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.dark .btn a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.col-img1 {
    position: absolute;
    top: 4%;
    left: 50%;
    filter: brightness(50%);
}

.col-img1 img{
    width: 300px;
    border-radius: 50%;
}

.col-img2 {
    position: absolute;
    top: 13%;
    left: 35%;
    filter: brightness(50%);
}

.col-img2 img{
    width: 200px;
    border-radius: 50%;
}

.col-img3 {
    position: absolute;
    top: 4%;
    left: 4%;
    filter: brightness(50%);
}

.col-img3 img{
    width: 400px;
    border-radius: 50%;
}

.col-img4 {
    position: absolute;
    top: 44%;
    left: 4%;
    filter: brightness(50%);
}

.col-img4 img{
    width: 500px;
    height: 300px;
    border-radius: 50%;
}

.col-img5 {
    position: absolute;
    top: 67%;
    left: 50%;
    filter: brightness(50%);
}

.col-img5 img{
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

.col-img6 {
    position: absolute;
    top: 70%;
    left: 34%;
    filter: brightness(50%);
}

.col-img6 img{
    width: 220px;
    height: 175px;
    border-radius: 50%;
}

.dark .logo {
    font-family: 'Playfair Display', serif;
    color: wheat;
    font-size: 35px;
    align-items: center;
    padding: 20px;
}

.dark nav {
    display: flex;
    background-color: black ;
    height: 80px;
    gap: 2rem;
    justify-content: space-between;
}

.dark nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.dark nav ul li:hover{
    border-bottom: 3px solid white;
    transition: all .3s ease;
}
